FirebaseAuth/Tests/SampleSwift/AuthenticationExample/SwiftApplication.plist
FirebaseAuth/Tests/SampleSwift/ObjCApiTests/AuthCredentials.h
FirebaseAuth/Tests/SampleSwift/GoogleService-Info_multi.plist
FirebaseAuth/Tests/SampleSwift/GoogleService-Info.plist
FirebaseAuth/Tests/SampleSwift/Sample.entitlements
FirebaseAuth/Tests/SampleSwift/SwiftApiTests/Credentials.swift

FirebaseDatabase/Tests/Resources/GoogleService-Info.plist

FirebaseRemoteConfig/Tests/Sample/GoogleService-Info.plist
FirebaseRemoteConfigSwift/Apps/SwiftUISample/SwiftUISample/GoogleService-Info.plist

# OS X
.DS_Store

# Xcode
build/
.index-build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa

# CocoaPods
Pods/
Podfile.lock
*.xcworkspace

# Vim
*.swo
*.swp
*~

